@using PMS.Web.UI.Code
@{
    ViewData["Title"] = "Status Keluarga";
    Layout = null;

    string mode = ViewBag.Mode;
    bool isReadonly = (!mode.Equals("New") && !mode.Equals("Edit"));
    bool isReadonlyWhenNotInsert = !mode.Equals("New");

    DateTime now = DateTime.Now;
    string strNow = now.ToString("yyyy-MM-dd HH:mm:ss");
    string strToday = now.ToString("yyyy-MM-dd");

}

<x-form id="@ViewBag.MainFormID">

    <x-form-row>
        <x-field-text id="STATUSID" binding-field="STATUSID" caption="Kode Status" read-only="@isReadonlyWhenNotInsert" xs-size="12" md-size="4">
        </x-field-text>

        <x-field-text id="FAMILYSTATUS" binding-field="FAMILYSTATUS" caption="Status Keluarga" read-only="@ViewBag.ReadOnly" xs-size="12" md-size="4">
        </x-field-text>

        <x-field-text id="TAXSTATUS" binding-field="TAXSTATUS" caption="Status Pajak" read-only="@ViewBag.ReadOnly" xs-size="12" md-size="4">
        </x-field-text>
    </x-form-row>

    <x-form-row>
        <x-field-text-area binding-field="STATUSNAME" caption="Nama" read-only="@ViewBag.ReadOnly" place-holder="Nama" xs-size="12">
        </x-field-text-area>
    </x-form-row>

    <x-form-row>
        <x-field-number id="SPOUSE" binding-field="SPOUSE" value="0" caption="Jumlah Istri" read-only="@ViewBag.ReadOnly" xs-size="12" md-size="3"></x-field-number>

        <x-field-number id="CHILDREN" binding-field="CHILDREN" value="0" caption="Jumlah Anak" read-only="@ViewBag.ReadOnly" xs-size="12" md-size="3"></x-field-number>

        <x-field-select id="ABSENSEX" binding-field="ABSENSEX" caption="Prioritas" read-only="@ViewBag.ReadOnly" xs-size="12" md-size="3">
            <option value="*"> </option>
            <option value="P">Perempuan</option>
            <option value="L">Laki-Laki</option>
        </x-field-select>

        <x-field-select id="ACTIVE" binding-field="ACTIVE" caption="Aktif" xs-size="12" md-size="3" read-only="@ViewBag.ReadOnly" select-type="Boolean">
        </x-field-select>
    </x-form-row>

</x-form>

<script>
    var checkMode = function () {
        return true;
    };

    var beforeDisplay = function () {
        return true;
    };

    var customDisplay = function () {
        if (mode == "New") {
            $("#ABSENSEX").val("*").trigger("change");
            $("#ACTIVE").val("true").trigger("change");
        }

        return true;
    }

    var beforeSaveRecord = function () {
        return true;
    }

    var beforeSendAction = function (action, savedRecord) {
        return savedRecord;
    }
</script>